PORT=8000
MONGODB_URI=mongodb://localhost:27017/shreeji_seva_bhav_v1
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development

ACCESS_TOKEN_SECRET=your_super_secret_access_token_here
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_super_secret_refresh_token_here
REFRESH_TOKEN_EXPIRY=10d
FRONTEND_URL=http://localhost:3000

# Nodemailer / Gmail SMTP Configuration
SMTP_USER=
SMTP_PASS=
